@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



/* body{
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background: #E7E7E7;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin: 3px;

}
.container textarea {
  background-color:  #121212;
  border:1px solid #0dddf0;
  resize: none;
  width: 100%;
  height: 33.333%;
  font-size: 1.4rem;
  padding: 10px;
  resize: vertical;
  overflow-y: scroll;
  color:white;
}
.container textarea:focus {
  outline: none;
  color:white;
}
.iframe-container{
  background: white;
  width: 50%;
  height: 100vh;
  margin: 3px;
}
#viewer{
  width: 50%;
  height: 50%;
}
.split {
width:100%;
height:100%;
}
.gutter {
cursor: e-resize;
height: 100%;
background: grey;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
