@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  background-color: gray;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.writing {
  font-family: "Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: #f5f5f5;
}

.hello td {
  writing-mode:sideways-lr;
}

.left-0 {
  left: 550px;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
}

.header__h1 {
  margin: 20px;
  padding: 10px;
  color: #424242;
}

.doc .doc__background-ribbon {
  height: 200px;
  background: #3F51B5;
}

.doc .doc__text-editor {
  width: 60%;
  padding: 40px 28px;
  min-height: 300px;
  background: #fff;
  margin: 0 auto;
  transform: translateY(-150px);
}


.clear {

display: inline-block;

}

.zoom {
  padding: 5px;
  transition: transform .2s;
  /* margin: 0 auto; */
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

label {display: block;}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px;
  
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-linkedin {
  background: #007bb5;
  color: white;
}



/*App.css*/

* {
	box-sizing: border-box;
}

input[type=text],
input[type=date],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 2rem;
}

button {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 1rem;
	margin-right: 1rem;
}

button:hover,
[type=submit]:hover {
	background-color: #45a049;
}

.scheduler-container {
	width: 60%;
	margin: auto;
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

h1 {
	text-align: center;
	color: green;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

#list {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#list td,
#list th {
	border: 1px solid #ddd;
	padding: 8px;
}

#list tr:nth-child(even) {
	background-color: #f2f2f2;
}

#list tr:hover {
	background-color: #ddd;
}

#list th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
}

@media screen and (max-width: 600px) {

	.col-25,
	.col-75,
	input[type=submit] {
		width: 100%;
		margin-top: 0;
	}
}

/* Mobile-first styles */
/* .container {
  display: flex;
  flex-wrap: wrap;  */
  /* Allows items to wrap to the next line */
/* }
.item { */
  /* flex-basis: 100%;  */
  /* Each item takes the full width on mobile */
  /* width: 100%;
} */

.container {
  display: grid; 
  grid-template-columns: 1fr;
}

 /* This hides the protected content initially */
        #protectedContent {
            display: none; 
            background-color: #f2f2f2;
            padding: 20px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }





/* body{
  height: 100vh;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  background: #E7E7E7;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin: 3px;

}
.container textarea {
  background-color:  #121212;
  border:1px solid #0dddf0;
  resize: none;
  width: 100%;
  height: 33.333%;
  font-size: 1.4rem;
  padding: 10px;
  resize: vertical;
  overflow-y: scroll;
  color:white;
}
.container textarea:focus {
  outline: none;
  color:white;
}
.iframe-container{
  background: white;
  width: 50%;
  height: 100vh;
  margin: 3px;
}
#viewer{
  width: 50%;
  height: 50%;
}
.split {
width:100%;
height:100%;
}
.gutter {
cursor: e-resize;
height: 100%;
background: grey;
}
.gutter.gutter-horizontal {
  cursor: ew-resize;
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
